<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login / Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-content">

        <!-- Header com logo e texto -->
        <div class="form-header">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="form-logo">
            <h1 class="form-title">Ducks Code</h1>
        </div>

        <div class="auth-container">
            

            <div class="form-box">
                

                <h2>{{ formulario_titulo }}</h2>

                {% if erro %}
                    <p class="error-msg">{{ erro }}</p>
                {% endif %}

                <form method="post">
                    {% if login_ativo %}

                        
                        <input type="text" placeholder="Usuário" required />

                    
                        
                        <input type="password" placeholder="senha" required />

                        <button type="submit">Entrar</button>

                        <p class="form-switch">
                            <span>Novo usuário?</span>
                            <a href="/login/registro">Clique aqui para se registrar</a>
                        </p>
                    {% else %}
                        <input type="text" placeholder="Usuário" required>
                        <input type="email" placeholder="Email" required>
                        <input type="password" placeholder="Senha" required>
                        <button type="submit">Registrar</button>
                        <p class="form-switch">
                            <span>Já tem uma conta?</span>
                            <a href="/login">Clique aqui para fazer login</a>
                        </p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>
